
*{
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: white;
}

body{
	background-color: #103C69;
}

h4{
font-size:12px;
}

h3{
font-size: 22px;
font-weight: bold;

}
